
/* Hide the main scrollbar */
body::-webkit-scrollbar {
    width: 0;
}


/* ==================================== BOUTON AJOUTER-TEXTE ==================================== */

.dropdown {
    position: relative; /* Ensure dropdown is positioned to use z-index */ 
  }

  .dropdown-menu {
    background-color: rgb(253, 231, 231);
}

.dropdown-submenu {
    position: relative;
   }

.dropdown-item.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: start; /* align text to the start */
    padding-left: 1rem; /* or any appropriate value to create indentation */
}

.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
border-radius: 0 0.25rem 0.25rem 0;

}

.dropdown-submenu:hover .dropdown-menu {
display: block;
}

.dropdown-item:hover {
    background-color: lightsalmon;
    color: #fff;
  }


/* ==================================== BOUTON CODE COULEUR (OFFCANVAS) ==================================== */

.offcanvas-header {
    border-bottom: 1px solid #ccc; /* You can adjust the color and thickness as needed */
}

.offcanvas-body {
    overflow-y: auto;
}

.text-justify {
    text-align: justify;
}

/* ==================================== BOUTON # ==================================== */

.col-auto.hidden-index {
    display: none;
}


/* ==================================== BOUTONS +/- ==================================== */


.custom-btn-size {
    width: 3.3vw;  /* Set the width as per your requirement */
}

/* Media query for screens less than 800px wide */
@media screen and (max-width: 800px) {
    .custom-btn-size {
        width: 5vw; /* Change the width for smaller screens */
    }
}

/* Media query for screens wider than 1600px */
@media screen and (min-width: 1600px) {
    .custom-btn-size {
        width: 2.5vw; /* Set the width relative to the viewport width */
    }
}



/* ==================================== CARDS ==================================== */


.card {
    border-radius: 5px;
    height: 88vh;
}


.list-group.list-group-flush {
    overflow-y: auto;
}

fw {
    display: none;
}

stage {
    font-style: italic;
}

.hover-effect {
    background-color: #f0f0f0; /* Hover effect */
  }

.list-group-item.Orange.hover-effect {
    background-color: orange;
}

.list-group-item.Magenta.hover-effect {
    background-color: #f761d1;
}

.list-group-item.Bleu.hover-effect {
    background-color: #9dc6f1;
}

/* Attention c'est ce que j'appelle "noir" dans le tableau d'explication des couleurs */
.list-group-item.Gris.hover-effect {
    background-color: #7a7070;
}

.list-group-item.Rose.hover-effect {
    background-color: #ffc5fc;
}

.list-group-item.Marron.hover-effect {
    background-color: #c78c55;
}
